.cards {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 2.6rem 3.2rem 2.6rem 3.2rem;
  gap: 1.2rem;
  height: auto;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 40px 60px 100px -47px rgba(72, 85, 106, 0.2474),
      0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
  }

  &__item1 {
    position: relative;
    background-color: var(--color-purple);
    &__quotation__icon {
      position: absolute;
      top: 0;
      right: 8rem;
    }
  }
  &__item2 {
    background-color: var(--color-dark-grey);
  }
  &__item3 {
    color: var(--color-dark-grey);
    background-color: var(--color-pure-white);
  }
  &__item4 {
    background-color: var(--color-dark2-grey);
  }
  &__item5 {
    color: var(--color-dark-grey);
    background-color: var(--color-pure-white);
  }
  &__heading {
    width: min(12.1rem, 100%);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 1.7rem;
    &__avatar__wrapper {
      position: relative;
      width: 28px;
      height: 28px;
      grid-column: 1;
      grid-row: 1/2;
      &::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #a775f1;
        z-index: 1;
      }
    }
    &__avatar {
      position: relative;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      grid-column: 1;
      grid-row: 1/2;
      object-fit: cover;
    }
    &__title {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      grid-column: 2;
      grid-row: 1/2;
    }
  }
}
