:root {
  --color-light-grey: #cfcfcf;
  --color-dark-grey: #48556a;
  --color-dark2-grey: #19202d;
  --color-pure-white: #ffffff;
  --color-body: #ecf2f8;
  --color-purple: #733fc8;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  position: relative;
  min-height: 100dvh;
  margin: 0;
  background-color: var(--color-body);
  color: var(--color-pure-white);
}
html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
