.grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
  gap: 3rem;
  margin: 16.4rem auto;
  width: min(111rem, 80%);

  &__daniel {
    grid-area: daniel;
  }
  &__jonathan {
    grid-area: jonathan;
  }
  &__kira {
    grid-area: kira;
  }
  &__jeanette {
    grid-area: jeanette;
  }
  &__patrick {
    grid-area: patrick;
  }
}
